.form{
    width: 430px;
    margin: 0 auto;
}

.result{
    width: 430px;
    margin: 0 auto;
    text-align: center;
}
@media only screen and (max-width:400px){
.form{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}
.form >*{
    width: 100%;
}
.result{
    width: 350px;
}

input{
    padding: 12px 20px;
    font-size: 24px;
}
}